# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de log
*.log
npm-debug.log*

# Arquivos temporários
.tmp
*.tmp
*.temp

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Arquivos de backup
*.bak
*.swp
*~
